body {
  font-family: system-ui;
  background: greenyellow;
  color: white;
  text-align: center;
}

#main{
  text-align:center;
}
#main h2:hover{
  color:red;
  transform:scale(1.3);
}

#content{
  border:2px solid black;
  border-radius:20px;
  width:100%;
  max-width: 500px;
  margin:0 auto;
}
#yomi{
  top:40px;
  position:relative;
}
#mondai{
  display:flex;
  justify-content:center;
  font-size:2.4rem;
}
.text {
  padding: 2px;  
}
.text.default {
  color: #f3f3f3;
  text-shadow: 1px 1px 0 #000,
             -1px 1px 0 #000,
             1px -1px 0 #000,
             -1px -1px 0 #000;
}
.text.correct {
  color: black;
  text-shadow: none; /* ボーダーを無かったことにする */
}

#start-button {
  font-size: 1.0em;
  font-weight: bold;
  padding: 10px 30px;
  background-color: #248;
  color: #fff;
  border-style: none;
  cursor: pointer;
}
#start-button:hover{
   opacity:0.6;
}



#finish-panel {
  text-align: center;
  margin-bottom: 30px;
}

.hidden {
  display: none;
}
#tool{
  padding-top: 16px;
}

#guide{
  color:#000;
}